<section id="call-to-action" class="wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 text-center text-lg-left">
        <h3 class="cta-title">The Ultimate MySQL Bootcamp</h3>
        <p class="cta-text">Go from SQL Beginner to Expert for as low as $10.99</p>
        <a href="https://click.linksynergy.com/fs-bin/click?id=O*yDCFDQTmY&offerid=624447.16411&type=3&subid=0"
        >
          <img src="/images/banners/banner.png" alt="The Ultimate MySQL Bootcamp as low as $10.99" class="img-fluid mb-2">
        </a>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" href="https://click.linksynergy.com/fs-bin/click?id=O*yDCFDQTmY&offerid=624447.16411&type=3&subid=0">Explore This Sale on Udemy!</a>
      </div>
    </div>

  </div>
</section>