<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<%- include('flashMessages') %>
    <h1>New Course</h1>
    <form action="/courses" method="POST">
    	<label for="affiliateUrl">Affiliate Url</label>
    	<input type="text" name="affiliateUrl" id="affiliateUrl" >

    	<input type="submit">
    </form>
  </body>
</html>
