<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<%- include('flashMessages') %>
    <h1>New Course</h1>
    <form action="/courses" method="POST">
    	<label for="affiliateUrl">Affiliate Url</label>
    	<input type="text" name="affiliateUrl" id="affiliateUrl" value="https://www.udemy.com/course/the-web-developer-bootcamp/?ranMID=39197&ranEAID=O*yDCFDQTmY&ranSiteID=O.yDCFDQTmY-xIgjsantC5vWQCu3Z6.fSQ&LSNPUBID=O*yDCFDQTmY">

    	<input type="submit">
    </form>
  </body>
</html>
