// main: style.scss

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #f5f8fd url('../img/intro-bg.jpg') center top no-repeat ;
  background-size: cover;
  
  @media(max-width: 767px) {
    height: auto;
    padding: 80px 0 60px 0;
    .container {
      height: auto !important;
    }

    .intro-img {
      width: 80%;
    }
  }

  
  .intro-info {

    @media (min-width: 992px) {
      padding-top: 80px;
    }

    @media(max-width: 767px) {
      text-align: center;
      padding-top: 40px;;
    }


    h2 {
      color: $secondary;
      margin-bottom: 40px;
      font-size: 48px;
      font-weight: 700;

      span {
        color: $primary;
      }

      @media (max-width: 767px) {
        font-size: 34px;
        margin-bottom: 30px;
      }

    }

    .btn-get-started, .btn-services {
      font-family: $primary-font;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      display: inline-block;
      padding: 10px 32px;
      border-radius: 4px;
      transition: 0.5s;
      color: #fff; 
      background: $primary;
      color: #fff;
      &:hover {
        background: $primary-dark;
      }
    }
    
  }

}
